@import "tailwindcss";
@config "../tailwind.config.js";

/* 👇 đặt ở đây */
/* :root {
  --el-fill-color-blank: #635BFF;
  --el-input-bg-color: #635BFF;
  --el-text-color-regular: #ffffff;
} */

:root {
  --color-primary: #1a55e3;
  --el-color-primary: var(--color-primary);
}

main {
  background-color: #F8F9FB;
}

.flex-left {
  @apply flex justify-start items-start;
}

.el-cus-input .el-input__wrapper {
    border-radius: 10px;
}